body {
	border: 0;
	font-size: 14px;
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}


/* Menubar styles begin here */

.menu-bar {
	-webkit-app-region: drag;
	background-color: #121418;
	height: 32px;
}

#menu-items ul {
	-webkit-app-region: no-drag;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;
}

#menu-items ul a {
	color: #303236;
	display: block;
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-size: 12px;
	line-height: 32px;
	padding: 0 15px;
	text-decoration: none;
}

#menu-items ul li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

#menu-items ul li:hover {
	background: #f6f6f6;
}

#menu-items ul ul {
	background: #fff;
	display: none;
	left: 0;
	padding: 0;
	position: absolute;
	top: 100%;
}

#menu-items ul ul li {
	float: none;
	width: 200px
}

#menu-items ul ul a {
	line-height: 120%;
	padding: 10px 15px
}

#menu-items ul li:hover>ul {
	display: block
}


/* Menubar style ends */


/* editor: The container holding HTML/CSS/JS editors */

.editor {
	display: flex;
	left: 0;
	top: 0;
	width: 100%;
}

.editor-item {
	border-right: 2px solid #121418;
	height: 50%;
	min-height: 160px;
	min-width: 33.33%;
	width: auto;
}


/* No border-right for JS editor*/

.editor-item:last-child {
	border: 0;
}

.editor-label {
	background-color: #232831;
	color: #EAEAEA;
	font-family: 'Roboto Mono';
	font-weight: 500;
	height: 32px;
	line-height: 32px;
	padding-left: 45px;
}

.editor-item:hover {
	cursor: text;
}


/* result-viewport: The container holding iframe element */

.result-viewport {
	background: #FFFFFF;
	border: 0;
	height: auto;
	width: 100%;
}


/* output: iframe element*/

#output {
	border: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}