.textarea{
    
    display: inline-block;
    border:1px solid grey;
    width:32%;
    min-height: 280px;
    overflow: auto;
    overflow-wrap: normal;
    resize: both;
    font-size:14px;
    background: #F4F4F9;
}

iframe{
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 35em;
    background: oldlace;
}