body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: 'Roboto';
}

button {
  margin: 0;
  padding: 0;
}

.CodeMirror {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', 'Consolas', 'Courier New', 'Courier', monospace;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.editor-box {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
}

.editor {
  height: 320px;
  min-height: 160px;
  width: 33.33%;
  min-width: calc(33.33% - 60px) !important;
  border-right: 2px solid #565656;
  background-color: #343434;
}

.editor:hover {
  cursor: text;
}

.result-viewport,
#output {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.info {
  font-family: monospace;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  background: #eee;
  padding: 2px;
  height: 20px;
  left: 0;
  right: 0;
}

.info label {
  font-weight: bold;
}

.buttons {
  padding: 2px;
  height: 25px;
}